main.exe
protokolas.txt
tempCodeRunnerFile.c
.vscode/c_cpp_properties.json
.vscode/settings.json
vil/bank.c
vil/bank.h
vil/main.c
DVF.xls
protokolas1.txt
PDF.xls
PPS.xls
KPSpvzC.xls
LFF.doc
protokolas2.txt
protokolas3.txt
